<app-admin-bar></app-admin-bar>  
<div class="container mt-5" style="padding-top: 90px;">

<div class="search-container p-3 my-3 d-flex align-items-stretch gap-3 flex-wrap">
  <!-- ช่องค้นหา -->
  <div class="flex-grow-1 d-flex align-items-stretch">
    <input
      type="text"
      class="form-control custom-input"
      placeholder="ค้นหางานวิจัย..."
      [(ngModel)]="searchText"
      (input)="SearchPaper()"
    />
  </div>

  <!-- dropdown -->
  <div class="d-flex align-items-stretch" style="min-width: 220px;">
    <select
      class="form-select custom-input"
      [(ngModel)]="searchField"
    >
        <option value="title_thai">ชื่อเรื่องภาษาไทย</option>
        <option value="title_english">ชื่อเรื่องภาษาอังกฤษ</option>
        <option value="name">ผู้แต่ง</option>
        <option value="quartile_rank">ฐานข้อมูล</option>
        <option value="thai_calender_year">ปีพ.ศ.</option>
    </select>
  </div>

  <!-- ปุ่ม -->
  <div class="d-flex align-items-stretch" style="min-width: 220px;">
    <button
      type="button"
      class="btn btn-success w-100 custom-btn"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      (click)="Closemodal()"
      title="เพิ่มข้อมูลงานวิจัย"
    >
    เพิ่มข้อมูลงานวิจัย
    </button>
  </div>
</div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">เพิ่มข้อมูลงานวิจัย</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="PaperForm" (ngSubmit)="onSubmit()">
                  <div class="row mb-3">
                    <label for="title_thai" class="col-sm-2 col-form-label fw-bold">ชื่อเรื่องภาษาไทย</label>
                    <div class="col-sm-10">
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="title_thai" 
                        formControlName="title_thai"
                        [ngClass]="{'is-invalid': isInvalid('title_thai')}"
                        />
                        <div class="invalid-feedback">
                          กรุณากรอกชื่อเรื่องภาษาไทย
                        </div>                        
                    </div>
                  </div>
                  
                  <div class="row mb-3">
                    <label for="title_english" class="col-sm-2 col-form-label fw-bold">ชื่อเรื่องภาษาอังกฤษ</label>
                    <div class="col-sm-10">
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="title_english" 
                        formControlName="title_english"
                        [ngClass]="{'is-invalid': isInvalid('title_english')}"
                        />
                        <div class="invalid-feedback">
                          กรุณากรอกชื่อเรื่องภาษาอังกฤษ
                        </div> 

                        <div 
                        class="text-danger mt-1" 
                        *ngIf="PaperForm.errors?.['atLeastOneRequired'] && 
                          (PaperForm.get('title_thai')?.touched || PaperForm.get('title_english')?.touched)">
                        กรุณากรอกชื่อเรื่องภาษาไทยหรืออังกฤษ อย่างน้อย 1 ช่อง
                      </div>

                    </div>
                  </div>

                   <div class="row mb-3">
                    <label for="journal_or_conference_name" class="col-sm-2 col-form-label fw-bold">ชื่อวารสาร/การประชุมวิชาการ</label>
                    <div class="col-sm-10">
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="journal_or_conference_name" 
                        formControlName="journal_or_conference_name"
                        [ngClass]="{'is-invalid': isInvalid('journal_or_conference_name')}"
                        />
                        <div class="invalid-feedback">
                          กรุณากรอกชื่อวารสารหรือการประชุมวิชาการ
                        </div>
                    </div>
                  </div>

                  <div class="row mb-3">                 
                    <div class="col-sm-6">
                      <label for="name" class="form-label fw-bold">ชื่อผู้แต่ง</label>
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="name" formControlName="name" 
                        [(ngModel)]="searchResearchers" 
                        (input)="SearchResearchers()"
                        [ngClass]="{'is-invalid': isInvalid('name')}"
                        />                    
                      <ul *ngIf="searchResearchers && filteredResearchers.length > 0" class="list-group mt-2">
                        <li *ngFor="let researcher of filteredResearchers" (click)="selectResearcher(researcher)" 
                            class="list-group-item">
                          {{ researcher.name }}
                        </li>
                      </ul>
                      <div class="invalid-feedback">
                        กรุณาเลือกชื่อผู้แต่ง
                      </div> 
                    </div>     

                    <div class="col-sm-6">
                      <label for="author_role" class="form-label fw-bold">ลำดับบทบาท</label>
                      <select 
                        class="form-select shadow-sm" 
                        id="author_role" 
                        formControlName="author_role"
                        [ngClass]="{'is-invalid': isInvalid('author_role')}"
                        >
                        <option value="First">First</option>
                        <option value="Corr">Corr</option>
                        <option value="Co">Co</option>
                      </select>
                      <div class="invalid-feedback">
                        กรุณาเลือกบทบาทของผู้แต่ง
                      </div> 
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col">
                      <label for="workload_year_id" class="form-label fw-bold">หัวข้อภาระงาน</label>
                      <select 
                        class="form-select shadow-sm" 
                        id="workload_year_id" 
                        formControlName="workload_year_id"
                        [ngClass]="{'is-invalid': isInvalid('workload_year_id')}"
                        >
                        <option *ngFor="let data of filteredWorkload" [value]="data.workload_year_id">
                          {{ data.workload_topic }}
                        </option>
                      </select>
                      <div class="invalid-feedback">
                        กรุณาเลือกหัวข้อภาระงาน
                      </div> 
                    </div>
                  
                    <div class="col">
                      <label for="workload_count" class="form-label fw-bold">จำนวนนับภาระงาน</label>
                      <input 
                        type="number" 
                        class="form-control shadow-sm" 
                        id="workload_count" 
                        formControlName="workload_count" 
                        [ngClass]="{'is-invalid': isInvalid('workload_count')}"
                        readonly
                        />
                        <div class="invalid-feedback">
                          กรุณากำหนดหัวข้อภาระงาน
                        </div>
                    </div>
                  
                    <div class="col">
                      <label for="proportion" class="form-label fw-bold">สัดส่วน</label>
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="proportion" 
                        formControlName="proportion" 
                        [ngClass]="{'is-invalid': isInvalid('proportion')}"
                        />
                        <div class="invalid-feedback">
                          กรุณากรอกสัดส่วน
                        </div>
                    </div>
                  
                    <div class="col">
                      <label for="number_of_workloads" class="form-label fw-bold">จำนวนภาระงาน</label>
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="number_of_workloads" 
                        formControlName="number_of_workloads" 
                        [ngClass]="{'is-invalid': isInvalid('number_of_workloads')}"
                        readonly
                        />
                        <div class="invalid-feedback">
                          กรุณากำหนดหัวข้อภาระงานและกรอกสัดส่วน
                        </div>
                    </div>
                  </div>

                  <div class="row mb-3">

                    <div class="col-sm-6">
                      <label for="type_id" class="form-label fw-bold">ประเภทงานวิจัย</label>
                      <select 
                        class="form-select shadow-sm" 
                        id="type_id" 
                        formControlName="type_id"
                        [ngClass]="{'is-invalid': isInvalid('type_id')}"
                        >
                        <option *ngFor="let data of filteredResearchType" [value]="data.type_id">
                          {{ data.type_name }}
                        </option>
                      </select>
                      <div class="invalid-feedback">
                        กรุณาเลือกประเภทงานวิจัย
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <label for="publication_year" class="form-label fw-bold">ปีที่</label>
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="publication_year" 
                        formControlName="publication_year"
                        [ngClass]="{'is-invalid': isInvalid('publication_year')}"
                        />
                        <div class="invalid-feedback">
                          กรุณากรอกข้อมูลปีที่
                        </div>
                    </div>
                    <div class="col-sm-3">
                      <label for="issue_number" class="form-label fw-bold">ฉบับที่</label>
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="issue_number" 
                        formControlName="issue_number"
                        [ngClass]="{'is-invalid': isInvalid('issue_number')}"
                        />
                        <div class="invalid-feedback">
                          กรุณากรอกข้อมูลฉบับที่
                        </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-sm-6">
                      <label for="start_date" class="form-label fw-bold">วันเผยแพร่</label>
                      <input 
                        type="date" 
                        class="form-control shadow-sm" 
                        id="start_date" 
                        formControlName="start_date"
                        >
                    </div>
                    <div class="col-sm-6">
                      <label for="end_date" class="form-label fw-bold">วันสิ้นสุด กรณี การประชุมวิชาการ</label>
                      <input 
                        type="date" 
                        class="form-control shadow-sm" 
                        id="end_date" 
                        formControlName="end_date"
                        >
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-sm-4">
                      <label for="ISSN_or_ISBN" class="form-label fw-bold">ISSN/ISBN</label>
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="ISSN_or_ISBN" 
                        formControlName="ISSN_or_ISBN"
                        [ngClass]="{'is-invalid': isInvalid('ISSN_or_ISBN')}"
                        >
                        <div class="invalid-feedback">
                          กรุณากรอกหมายเลข ISSN หรือ ISBN 
                        </div>
                    </div>
                    <div class="col-sm-4">
                      <label for="page_range" class="form-label fw-bold">Page</label>
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="page_range" 
                        formControlName="page_range"
                        [ngClass]="{'is-invalid': isInvalid('page_range')}"
                        >
                        <div class="invalid-feedback">
                          กรุณากรอกหมายเลขหน้า
                        </div>
                    </div>
                    <div class="col-sm-4">
                      <label for="academic_quality" class="form-label fw-bold">คุณภาพผลงาน</label>
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="academic_quality" 
                        formControlName="academic_quality"
                        [ngClass]="{'is-invalid': isInvalid('academic_quality')}"
                        >
                        <div class="invalid-feedback">
                          กรุณากรอกคุณภาพผลงาน
                        </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-md-6">
                      <label for="quartile_id" class="form-label fw-bold">Rank</label>
                      <select 
                        class="form-select shadow-sm" 
                        id="quartile_id" 
                        formControlName="quartile_id"
                        [ngClass]="{'is-invalid': isInvalid('quartile_id')}"
                        >
                        <option *ngFor="let data of filteredQuartile" [value]="data.quartile_id">
                          {{ data.quartile_rank }}
                        </option>
                      </select>
                      <div class="invalid-feedback">
                        กรุณาเลือก Rank
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="link" class="form-label fw-bold">Link</label>
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="link" 
                        formControlName="link"
                        [ngClass]="{'is-invalid': isInvalid('link')}"
                        >
                        <div class="invalid-feedback">
                          กรุณากรอกลิ้งค์
                        </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-md-6">
                      <label for="Remark" class="form-label fw-bold">หมายเหตุ</label>
                      <input type="text" class="form-control shadow-sm" id="Remark" formControlName="Remark">
                    </div>
                    <div class="col-md-6">
                      <label for="detail" class="form-label fw-bold">รายละเอียด</label>
                      <input type="text" class="form-control shadow-sm" id="detail" formControlName="detail">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-sm-4">
                      <label for="thai_calender_year" class="form-label fw-bold">ปี พ.ศ.</label>
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="thai_calender_year" 
                        formControlName="thai_calender_year"
                        [ngClass]="{'is-invalid': isInvalid('thai_calender_year')}"
                        >
                        <div class="invalid-feedback">
                          กรุณากรอกปี พ.ศ.
                        </div>
                    </div>
                    <div class="col-sm-4">
                      <label for="fiscal_year" class="form-label fw-bold">ปีงบประมาณ</label>
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="fiscal_year" 
                        formControlName="fiscal_year"
                        [ngClass]="{'is-invalid': isInvalid('fiscal_year')}"
                        >
                        <div class="invalid-feedback">
                          กรุณากรอกปีงบประมาณ
                        </div>
                    </div>
                    <div class="col-sm-4">
                      <label for="academic_year" class="form-label fw-bold">ปีการศึกษา</label>
                      <input 
                        type="text" 
                        class="form-control shadow-sm" 
                        id="academic_year" 
                        formControlName="academic_year"
                        [ngClass]="{'is-invalid': isInvalid('academic_year')}"
                        >
                        <div class="invalid-feedback">
                          กรุณากรอกปีการศึกษา
                        </div>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="submit" class="btn btn-primary" >บันทึก</button>
                  </div>
                </form>
              </div>   
            </div>
          </div>
        </div>

      
      <table class="table table-hover table-bordered rounded shadow-sm mt-5 align-middle text-center">
        <thead class="table-dark">
            <tr>
                <th scope="col">ที่</th>
                <th scope="col">ชื่อเรื่องภาษาไทย</th>
                <th scope="col">ชื่อเรื่องภาษาอังกฤษ</th>
                <th scope="col">ผู้แต่ง</th>
                <th scope="col">ฐานข้อมูล</th>
                <th scope="col">ปี</th>
                <th scope="col">แก้ไข</th>
                <th scope="col">ลบ</th>
            </tr>
        </thead>
        <tbody class="table-light">
          <tr *ngFor="let data of paginatedPaperdetail">
                <td scope="col">{{data.paper_researcher_id}}</td>
                <td>{{data.title_thai || 'ไม่มีข้อมูล'}}</td>
                <td>{{data.title_english || 'ไม่มีข้อมูล'}}</td>
                <td>{{data.name}}</td>
                <td>{{data.quartile_rank}}</td>
                <td>{{data.thai_calender_year}}</td>
                <td>
                    <button class="btn btn-warning btn-sm" (click)="editPaper(data.paper_researcher_id)">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="DeletePaper(data.paper_researcher_id)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- ปุ่ม Previous -->
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="changePage(currentPage - 1)" [attr.aria-disabled]="currentPage === 1">«</a>
          </li>

          <!-- ปุ่มตัวเลขหน้า -->
          <li 
            class="page-item" 
            *ngFor="let page of [].constructor(totalPaperPages); let i = index"
            [class.active]="i + 1 === currentPage"
            [class.disabled]="currentPage === i + 1"
          >
            <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
          </li>

          <!-- ปุ่ม Next -->
          <li class="page-item" [class.disabled]="currentPage === totalPaperPages">
            <a class="page-link" (click)="changePage(currentPage + 1)" [attr.aria-disabled]="currentPage === totalPaperPages">»</a>
          </li>
        </ul>
    </nav>
    

    <!-- Edit Paper Modal -->
    <div class="modal fade" id="editPaperModal" tabindex="-1" aria-labelledby="editPaperModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editPaperModalLabel">แก้ไขงานวิจัย</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" >
            <!-- Form for editing the paper details -->
            <form [formGroup]="PaperForm" >

              <div class="row mb-3">
                <label for="title_thai" class="col-sm-2 col-form-label fw-bold">ชื่อเรื่องภาษาไทย</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control shadow-sm" id="title_thai" formControlName="title_thai">
                </div>
              </div>
          
              <div class="row mb-3">
                <label for="title_english" class="col-sm-2 col-form-label fw-bold">ชื่อเรื่องภาษาอังกฤษ</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control shadow-sm" id="title_english" formControlName="title_english">
                </div>
              </div>
          
              <div class="row mb-3">
                <!-- ชื่อผู้แต่ง -->
                <div class="col-sm-6">
                  <label for="name" class="form-label fw-bold">ชื่อผู้แต่ง</label>
                  <input type="text" class="form-control shadow-sm" id="name" formControlName="name" 
                         [(ngModel)]="searchResearchers" (input)="SearchResearchers()">
                  
                  <!-- แสดงรายการที่ค้นหาผู้แต่ง -->
                  <ul *ngIf="searchResearchers && filteredResearchers.length > 0" class="list-group mt-2">
                    <li *ngFor="let researcher of filteredResearchers" (click)="selectResearcher(researcher)" 
                        class="list-group-item">
                      {{ researcher.name }}
                    </li>
                  </ul>
                </div>
              
                <!-- ลำดับบทบาท -->
                <div class="col-sm-6">
                  <label for="author_role" class="form-label fw-bold">ลำดับบทบาท</label>
                  <select class="form-select shadow-sm" id="author_role" formControlName="author_role">
                    <option value="First">First</option>
                    <option value="Corr">Corr</option>
                    <option value="Co">Co</option>
                  </select>
                </div>
              </div> 
          
              <div class="row mb-3">
                <div class="col">
                  <label for="workload_year_id" class="form-label fw-bold">หัวข้อภาระงาน</label>
                  <select class="form-select shadow-sm" id="workload_year_id" formControlName="workload_year_id">
                    <option *ngFor="let data of filteredWorkload" [value]="data.workload_year_id">
                      {{ data.workload_topic }}
                    </option>
                  </select>
                </div>
              
                <div class="col">
                  <label for="workload_count" class="form-label fw-bold">จำนวนนับภาระงาน</label>
                  <input type="number" class="form-control shadow-sm" id="workload_count" formControlName="workload_count" >
                </div>
              
                <div class="col">
                  <label for="proportion" class="form-label fw-bold">สัดส่วน</label>
                  <input type="text" class="form-control shadow-sm" id="proportion" formControlName="proportion" >
                </div>
              
                <div class="col">
                  <label for="number_of_workloads" class="form-label fw-bold">จำนวนภาระงาน</label>
                  <input type="text" class="form-control shadow-sm" id="number_of_workloads" formControlName="number_of_workloads" readonly>
                </div>
              </div>
              
              <div class="row mb-3">
                <label for="journal_or_conference_name" class="col-sm-2 col-form-label fw-bold">ชื่อวารสาร / การประชุม</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control shadow-sm" id="journal_or_conference_name" formControlName="journal_or_conference_name">
                </div>
              </div>
          
              <div class="row mb-3">
                <div class="col-sm-6">
                  <label for="type_id" class="form-label fw-bold">ประเภทงานวิจัย</label>
                  <select class="form-select shadow-sm" id="type_id" formControlName="type_id">
                    <option *ngFor="let data of filteredResearchType" [value]="data.type_id">
                      {{ data.type_name }}
                    </option>
                  </select>
                </div>

                <div class="col-sm-3">
                  <label for="publication_year" class="form-label fw-bold">ปีที่</label>
                  <input type="text" class="form-control shadow-sm" id="publication_year" formControlName="publication_year">
                </div>
                <div class="col-sm-3">
                  <label for="issue_number" class="form-label fw-bold">ฉบับที่</label>
                  <input type="text" class="form-control shadow-sm" id="issue_number" formControlName="issue_number">
                </div>
              </div>
          
              <div class="row mb-3">
                <div class="col-sm-6">
                  <label for="start_date" class="form-label fw-bold">วันเผยแพร่</label>
                  <input type="date" class="form-control shadow-sm" id="start_date" formControlName="start_date">
                </div>
                <div class="col-sm-6">
                  <label for="end_date" class="form-label fw-bold">วันสิ้นสุด กรณี การประชุมวิชาการ</label>
                  <input type="date" class="form-control shadow-sm" id="end_date" formControlName="end_date">
                </div>
              </div>
          
              <div class="row mb-3">
                <div class="col-sm-4">
                  <label for="ISSN_or_ISBN" class="form-label fw-bold">ISSN/ISBN</label>
                  <input type="text" class="form-control shadow-sm" id="ISSN_or_ISBN" formControlName="ISSN_or_ISBN">
                </div>
                <div class="col-sm-4">
                  <label for="page_range" class="form-label fw-bold">Page</label>
                  <input type="text" class="form-control shadow-sm" id="page_range" formControlName="page_range">
                </div>
                <div class="col-sm-4">
                  <label for="academic_quality" class="form-label fw-bold">คุณภาพผลงาน</label>
                  <input type="text" class="form-control shadow-sm" id="academic_quality" formControlName="academic_quality">
                </div>
              </div>
          
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="quartile_id" class="form-label">Rank</label>
                  <select class="form-select" id="quartile_id" formControlName="quartile_id">
                    <option *ngFor="let data of filteredQuartile" [value]="data.quartile_id">
                          {{ data.quartile_rank }}
                        </option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label for="link" class="form-label">Link</label>
                  <input type="text" class="form-control" id="link" formControlName="link">
                </div>
              </div>
          
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="Remark" class="form-label">หมายเหตุ</label>
                  <input type="text" class="form-control" id="Remark" formControlName="Remark">
                </div>
                <div class="col-md-6">
                  <label for="detail" class="form-label">รายละเอียด</label>
                  <input type="text" class="form-control" id="detail" formControlName="detail">
                </div>
              </div>
          
              <div class="row mb-3">
                <div class="col-sm-4">
                  <label for="thai_calender_year" class="form-label fw-bold">ปี พ.ศ.</label>
                  <input type="text" class="form-control shadow-sm" id="thai_calender_year" formControlName="thai_calender_year">
                </div>
                <div class="col-sm-4">
                  <label for="fiscal_year" class="form-label fw-bold">ปีงบประมาณ</label>
                  <input type="text" class="form-control shadow-sm" id="fiscal_year" formControlName="fiscal_year">
                </div>
                <div class="col-sm-4">
                  <label for="academic_year" class="form-label fw-bold">ปีการศึกษา</label>
                  <input type="text" class="form-control shadow-sm" id="academic_year" formControlName="academic_year">
                </div>
              </div>
          
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
            <button type="button" class="btn btn-primary" (click)="updatePaper()">อัปเดต</button>
          </div>
        </div>
      </div>
    </div>   
</div>

  
  
  
  