<div class="header">
        <a href="#default" class="logo">ระบบสารสนเทศเพื่อสนับสนุนการบริหารงานวิจัย</a>
        <div class="header-right">
            
            <div class="navbar">
              <a class="active" aria-current="page" [routerLink]="'/link_home'">หน้าแรก</a>
                <a class="active" aria-current="page" [routerLink]="'/admin'">จัดการข้อมูลผู้ใช้</a>
                <a class="active" aria-current="page" [routerLink]="'/link_dashboard'">รายงาน</a>
              </div>
        </div>
      </div>