<div class="header">
 <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="assets/images/logo-ICT.png" 
           alt="ICT Logo" class="ict-logo me-2">
      <span class="brand-text">
        ระบบสารสนเทศเพื่อสนับสนุนการบริหารงานวิจัยและนวัฒกรรม<br>
        Information System to Support Research and Innovation Management
      </span>
    </a>
  <div class="header-right">
    <div class="navbar">
      <a class="active" [routerLink]="'/admin'">โปรไฟล์</a>

      <div class="dropdown">
        <a class="active dropbtn"><i class="fa fa-caret-down"></i></a>
        <div class="dropdown-content">
          <a [routerLink]="'/user'">จัดการข้อมูลผู้ใช้</a>
          <a [routerLink]="'/research'">จัดการข้อมูลงานวิจัย</a>
          <a [routerLink]="'/workload'">จัดการข้อมูลภาระงาน</a>
          <a [routerLink]="'/research_type'">จัดการข้อมูลประเภทงานวิจัย</a>
          <a [routerLink]="'/Quartile'">จัดการประเภทฐานข้อมูล</a>
        </div>
      </div>

      <a class="active" [routerLink]="'/admin_dashboard'">รายงาน</a>
    </div>
    <!-- <a class="profile-link" [routerLink]="'/login'">
      <i class="fas fa-user user-icon"></i>
    </a> -->
    <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</div>
