<div class="header">
  <a href="#default" class="logo">ระบบสารสนเทศเพื่อสนับสนุนการบริหารงานวิจัย</a>
  <div class="header-right">
    <div class="navbar">
      <a class="active" [routerLink]="'/link_home'">หน้าแรก</a>

      <div class="dropdown">
        <a class="active dropbtn"><i class="fa fa-caret-down"></i></a>
        <div class="dropdown-content">
          <a [routerLink]="'/admin'">จัดการข้อมูลผู้ใช้</a>
          <a [routerLink]="'/research'">จัดการข้อมูลงานวิจัย</a>
          <a [routerLink]="'/workload'">จัดการข้อมูลภาระงาน</a>
        </div>
      </div>

      <a class="active" [routerLink]="'/link_dashboard'">รายงาน</a>
    </div>
    <a class="profile-link" [routerLink]="'/login'">
      <i class="fas fa-user user-icon"></i>
    </a>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</div>
