<!-- login.component.html -->
<div class="form-box">
  <header>เข้าสู่ระบบ</header>
  <form (ngSubmit)="login()">
    <div class="field input">
      <label for="email">Email</label>
      <input [(ngModel)]="email" type="text" id="email" name="email" required />
    </div>

    <div class="field input">
      <label for="password">Password</label>
      <input [(ngModel)]="password" type="password" id="password" name="password" required />
    </div>

    <div class="field input">
      <input class="btn submit" type="submit" value="Login" />
    </div>
  </form>
</div>
