<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

      <!-- รูปภาพโลโก้ด้านซ้าย -->
      <a class="navbar-brand d-flex align-items-center" href="/link-home">
        <img src="https://www.ict.up.ac.th/front/template/default/assets/img/static/brand.png" 
            alt="ICT Logo" 
            class="ict-logo me-2">
        <span class="brand-text">คณะเทคโนโลยีสารสนเทศและการสื่อสาร<br>School of Information and Communication Technology</span>
        
      </a>

      <button class="btn btn-outline-secondary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
        เข้าสู่ระบบ
      </button>
    </div>
  </nav>

<div class="container">
   <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <app-login></app-login>
      </div>
      <div class="modal-footer">
        <a>ยังไม่มีบัญชีใช่หรือไม่?</a>
        <button class="btn btn-link" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">ลงทะเบียน</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <app-register></app-register>
      </div>
      <div class="modal-footer">
        <button class="btn btn-link" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">เข้าสู่ระบบ</button>
      </div>
    </div>
  </div>
</div>

</div>

