
.custom-modal {
  background: none;
  border-radius: 10px;
  box-shadow: none;
}

.custom-modal .form-box {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  width: 100%;
}