<app-research-bar></app-research-bar> 
<div class="container w-80 shadow mt-5 p-4">
  <nav class="navbar bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 text-white">เพิ่มข้อมูลงานวิจัย</span>
    </div>
  </nav>  

  <form [formGroup]="paperForm" (ngSubmit)="onSubmit()">

    <div class="row mb-3">
      <label for="title_thai" class="col-sm-2 col-form-label fw-bold">ชื่อเรื่องภาษาไทย</label>
      <div class="col-sm-10">
        <input type="text" class="form-control shadow-sm" id="title_thai" formControlName="title_thai">
      </div>
    </div>

    <div class="row mb-3">
      <label for="title_english" class="col-sm-2 col-form-label fw-bold">ชื่อเรื่องภาษาอังกฤษ</label>
      <div class="col-sm-10">
        <input type="text" class="form-control shadow-sm" id="title_english" formControlName="title_english">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-6">
        <label for="researcher_name" class="form-label fw-bold">ชื่อผู้แต่ง</label>
        <input type="text" class="form-control shadow-sm" id="researcher_name" formControlName="researcher_name" [(ngModel)]="searchText" (input)="SearchResearchers()" />
      
        <ul *ngIf="searchText && filteredResearchers.length > 0" class="list-group mt-2">
          <li *ngFor="let researcher of filteredResearchers" (click)="selectResearcher(researcher)" class="list-group-item">
            {{ researcher.name }} 
          </li>
        </ul>
      </div>      

      <div class="col-sm-6">
        <label for="author_role" class="form-label fw-bold">ลำดับบทบาท</label>
        <select class="form-select shadow-sm" id="author_role" formControlName="author_role">
          <option value="First">First</option>
          <option value="Corr">Corr</option>
          <option value="Co">Co</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="workload_year_id" class="form-label fw-bold">หัวข้อภาระงาน</label>
        <select class="form-select shadow-sm" id="workload_year_id" formControlName="workload_year_id" (change)="onWorkloadSelect($event)">
          <option *ngFor="let data of filteredWorkload" [value]="data.workload_year_id">
            {{ data.workload_topic }}
          </option>
        </select>
      </div>
    
      <div class="col">
        <label for="workload_count" class="form-label fw-bold">จำนวนนับภาระงาน</label>
        <input type="text" class="form-control shadow-sm" id="workload_count" formControlName="workload_count" [value]="workloadCount" readonly>
      </div>
    
      <div class="col">
        <label for="proportion" class="form-label fw-bold">สัดส่วน</label>
        <input type="text" class="form-control shadow-sm" id="proportion" formControlName="proportion" (input)="onProportionChange()">
      </div>
    
      <div class="col">
        <label for="number_of_workloads" class="form-label fw-bold">จำนวนภาระงาน</label>
        <input type="text" class="form-control shadow-sm" id="number_of_workloads" formControlName="number_of_workloads" [value]="paperForm.value.number_of_workloads" readonly>
      </div>
    </div>
    
    <div class="row mb-3">
      <label for="journal_or_conference_name" class="col-sm-2 col-form-label fw-bold">ชื่อวารสาร / การประชุม</label>
      <div class="col-sm-10">
        <input type="text" class="form-control shadow-sm" id="journal_or_conference_name" formControlName="journal_or_conference_name">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-6">
        <label for="type_id" class="form-label fw-bold">ประเภทงานวิจัย</label>
        <select class="form-select shadow-sm" id="type_id" formControlName="type_id">
          <option value="1">วารสารระดับชาติ</option>
          <option value="2">วารสารระดับนานาชาติ</option>
          <option value="5">วารสารระดับภูมิภาค (ACI)</option>
          <option value="3">การประชุมวิชาการระดับชาติ</option>
          <option value="4">การประชุมวิชาการระดับนานาชาติ</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label for="publication_year" class="form-label fw-bold">ปีที่</label>
        <input type="text" class="form-control shadow-sm" id="publication_year" formControlName="publication_year">
      </div>
      <div class="col-sm-3">
        <label for="issue_number" class="form-label fw-bold">ฉบับที่</label>
        <input type="text" class="form-control shadow-sm" id="issue_number" formControlName="issue_number">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-6">
        <label for="start_date" class="form-label fw-bold">วันเผยแพร่</label>
        <input type="date" class="form-control shadow-sm" id="start_date" formControlName="start_date">
      </div>
      <div class="col-sm-6">
        <label for="end_date" class="form-label fw-bold">วันสิ้นสุด กรณี การประชุมวิชาการ</label>
        <input type="date" class="form-control shadow-sm" id="end_date" formControlName="end_date">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-4">
        <label for="ISSN_or_ISBN" class="form-label fw-bold">ISSN/ISBN</label>
        <input type="text" class="form-control shadow-sm" id="ISSN_or_ISBN" formControlName="ISSN_or_ISBN">
      </div>
      <div class="col-sm-4">
        <label for="page_range" class="form-label fw-bold">Page</label>
        <input type="text" class="form-control shadow-sm" id="page_range" formControlName="page_range">
      </div>
      <div class="col-sm-4">
        <label for="academic_quality" class="form-label fw-bold">คุณภาพผลงาน</label>
        <input type="text" class="form-control shadow-sm" id="academic_quality" formControlName="academic_quality">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="quartile_id" class="form-label">Rank</label>
        <select class="form-select" id="quartile_id" formControlName="quartile_id">
          <option value="1">ไม่มีฐานข้อมูล</option>
          <option value="2">ฐานข้อมูล Scopus แต่ไม่จัดอันดับควอไทล์</option>
          <option value="3">ฐานข้อมูล Scopus Q1</option>
          <option value="4">ฐานข้อมูล Scopus Q2</option>
          <option value="5">ฐานข้อมูล Scopus Q3</option>
          <option value="6">ฐานข้อมูล Scopus Q4</option>
          <option value="7">ฐานข้อมูล TCI กลุ่ม 1</option>
          <option value="8">ฐานข้อมูล TCI กลุ่ม 2</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="link" class="form-label">Link</label>
        <input type="text" class="form-control" id="link" formControlName="link">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="Remark" class="form-label">หมายเหตุ</label>
        <input type="text" class="form-control" id="Remark" formControlName="Remark">
      </div>
      <div class="col-md-6">
        <label for="detail" class="form-label">รายละเอียด</label>
        <input type="text" class="form-control" id="detail" formControlName="detail">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-4">
        <label for="thai_calender_year" class="form-label fw-bold">ปี พ.ศ.</label>
        <input type="text" class="form-control shadow-sm" id="thai_calender_year" formControlName="thai_calender_year">
      </div>
      <div class="col-sm-4">
        <label for="fiscal_year" class="form-label fw-bold">ปีงบประมาณ</label>
        <input type="text" class="form-control shadow-sm" id="fiscal_year" formControlName="fiscal_year">
      </div>
      <div class="col-sm-4">
        <label for="academic_year" class="form-label fw-bold">ปีการศึกษา</label>
        <input type="text" class="form-control shadow-sm" id="academic_year" formControlName="academic_year">
      </div>
    </div>

    <div class="text-end">
      <button type="submit" class="btn btn-primary shadow-sm px-4">บันทึก</button>
    </div>

  </form>
</div>
