<app-admin-bar></app-admin-bar> 
<div class="container mt-5" style="padding-top: 40px;">
  <table class="table table-hover table-bordered rounded shadow-sm mt-5 align-middle text-center">
    <thead class="table-dark">
        <tr>
          <th scope="col">ลำดับที่</th>
          <th scope="col">ประเภทฐานข้อมูล</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-light">
        <tr *ngFor="let data of filteredQuartile; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ data.quartile_rank || 'ไม่มีข้อมูล' }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="Edit(data.quartile_id)">
                <i class="fa-solid fa-pen"></i>
            </button>
        </td>
        <td>
            <button class="btn btn-danger btn-sm" (click)="Delete(data.quartile_id)">
                <i class="fa-solid fa-trash"></i>
            </button>
        </td>
        </tr>
      </tbody>
    </table>

    <!-- ปุ่ม Add User (แค่คำว่า "เพิ่มข้อมูล") ชิดขวา -->
    <div class="d-flex justify-content-end mt-3 mb-5">
      <button 
        type="button" 
        class="btn btn-success ms-2" 
        data-bs-toggle="modal" 
        data-bs-target="#exampleModal" 
        (click)="Closemodal()" 
        title="เพิ่มข้อมูลผู้ใช้งาน"
      >
        เพิ่มข้อมูล
      </button>
    </div>

      <!-- Insert Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">เพิ่มประเภทฐานข้อมูล</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="QuartileForm" (ngSubmit)="onSubmit()">
                  <div class="form-group row align-items-center mb-3">
                    <label for="quartile_rank" class="col-4 col-form-label fw-bold">ประเภทฐานข้อมูล</label>
                    <div class="col-8">
                      <input 
                        type="text" 
                        class="form-control form-control-sm shadow-sm" 
                        id="quartile_rank" 
                        formControlName="quartile_rank"
                        [ngClass]="{'is-invalid': isInvalid('quartile_rank')}"
                        />
                        <div class="invalid-feedback">
                          กรุณากรอกประเภทฐานข้อมูล
                        </div>    
                    </div>
                  </div>
  
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                      <button type="submit" class="btn btn-primary">บันทึก</button>
                    </div>
                </form>              
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Modal -->
      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="editModal">เพิ่มประเภทฐานข้อมูล</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="QuartileForm">
                <div class="form-group row align-items-center mb-3">
                    <label for="quartile_rank" class="col-4 col-form-label fw-bold">ประเภทฐานข้อมูล</label>
                    <div class="col-8">
                      <input 
                        type="text" 
                        class="form-control form-control-sm shadow-sm" 
                        id="quartile_rank" 
                        formControlName="quartile_rank"
                        [ngClass]="{'is-invalid': isInvalid('quartile_rank')}"
                        />
                        <div class="invalid-feedback">
                          กรุณากรอกประเภทฐานข้อมูล
                        </div>    
                    </div>
                  </div>
                </form>              
            </div>         
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
              <button type="button" class="btn btn-primary" (click)="Update()">อัปเดต</button>
            </div>
          </div>
        </div>
      </div>
</div>
