<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<app-admin-bar></app-admin-bar>        

<div class="container mt-5">

    <div class="d-flex my-3 align-items-center">
      <input type="text" class="form-control w-50 ms-2" placeholder="Search" [(ngModel)]="searchText" (input)="SearchResearchers()" />
        <select class="form-select w-25 ms-2" [(ngModel)]="searchField">
          <option value="name">ชื่อ-นามสกุล</option>
          <option value="name_department_eng">Department (English)</option>
          <option value="name_department_thai">Department (Thai)</option>
          <option value="role_name">สิทธิ์การใช้งาน</option>
        </select>        
      </div>
      
    <table class="table mt-5">
        <thead>
            <tr>
              <th scope="col">ลำดับที่</th>
              <th scope="col">ชื่อ-นามสกุล</th>
              <th scope="col">สาขา</th>
              <th scope="col"> </th>
              <th scope="col">สิทธิ์การใช้งาน</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let data of filteredResearchers">
                <td scope="col">{{data.researcher_id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.name_department_eng}}</td>
                <td>{{data.name_department_thai}}</td>
                <td>{{data.role_name}}</td>
                <td><button class="btn btn-danger" (click)="deleteUser(data.researcher_id)">Delete</button></td>
                <td><button class="btn btn-danger" (click)="editUser(data.researcher_id)">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
