<div class="header">
 <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="assets/images/logo-ICT.png" 
           alt="ICT Logo" class="ict-logo me-2">
      <span class="brand-text">
        ระบบสารสนเทศเพื่อสนับสนุนการบริหารงานวิจัยและนวัฒกรรม<br>
        Information System to Support Research and Innovation Management
      </span>
    </a>
  <div class="header-right">
    <div class="navbar">
      <a class="active" [routerLink]="'/executive'">โปรไฟล์</a>

      <!-- <a class="active" [routerLink]="'/search-executive'">ค้นหางานวิจัย</a> -->

      <a class="active" [routerLink]="'/executive_dashboard'">รายงาน</a>
    </div>
    <!-- <a class="profile-link" [routerLink]="'/login'">
      <i class="fas fa-user user-icon"></i>
    </a> -->
    <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</div>
