* {
    box-sizing: border-box;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Kanit', sans-serif;
  }
  
  thead th {
    background-color:#6E00B3;
    color: white;
    padding: 14px 12px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }

  th, td {
    padding: 14px 12px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
  }

  button {
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  

  button.btn-danger.delete {
    background-color: #e74c3c;
    color: white;
  }
  
  button.btn-danger.delete:hover {
    background-color: #c0392b;
  }
  
  button.btn-primary.edit {
    background-color: #ffc107;
    color: white;
  }
  
  button.btn-primary.edit:hover {
    background-color: #e0a800;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #685d68;
    padding: 0 20px;
  }
  
  .header a {
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #d7a3cc;
    color: black;
  }
  
  .navbar {
    display: flex;
    gap: 15px;
  }
  
  .navbar a {
    text-decoration: none;
    padding: 12px 15px;
    font-size: 18px;
    color: white;
    background-color: transparent;
    position: relative;
  }
  
  .navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar a:hover::after {
    transform: scaleX(1);
  }
  
  @media screen and (max-width: 500px) {
    .header {
      flex-direction: column;
      align-items: center;
    }
  
    .header a {
      display: block;
      text-align: center;
    }
  
    .header-right {
      width: 100%;
      justify-content: center;
    }
  
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .search-container {
      flex-direction: column; 
      align-items: stretch; 
    }
  
    .search-container input[type="text"],
    .search-container select,
    .search-container button {
      width: 100%; 
      margin-bottom: 10px;
    }
  }

.search-container {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  border: none;
}

.custom-input {
  border-radius: 6px;
  padding: 10px 14px;
  font-family: 'Kanit', sans-serif;
  height: 100%;
}

.custom-btn {
  border-radius: 6px;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  transition: background-color 0.3s ease;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6E00B3;
}

.custom-btn:hover {
  background-color: #6E00B3;
}

.page-item .page-link {
  color: #6E00B3 !important; 
}

.page-item.active .page-link {
  background-color: #ece4fa;     
  border-color: #cfc1f0;         
  color: #6E00B3 !important;
}








