@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap");

* {
  font-family: "Prompt", sans-serif;
}

.profile-section {
  max-width: 800px;
  width: 100%;
}

.profile-img img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.profile-info h2 {
  margin: 0;
  font-size: 24px;
  font-family: "Prompt", sans-serif;
}

.profile-info p {
  margin: 6px 0;
  font-size: 16px;
  font-family: "Prompt", sans-serif;
}

body {
  padding-top: 70px;
}

 table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "Prompt", sans-serif;
  }
  
  thead th {
    background-color:#6E00B3;
    color: white;
    padding: 14px 12px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: "Prompt", sans-serif;
  }

  th, td {
    padding: 14px 12px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    font-family: "Prompt", sans-serif;
  }




