<div class="container">
    <div class="form-box">
      <header>Register</header>
      <form >
        <div class="field input autocomplete-container">
          <label for="name">Username</label>
          <input
            type="text"
            id="name"
            name="name"
            [(ngModel)]="searchResearchers" 
            (input)="SearchResearchers()"
            required
          />
          <ul 
            *ngIf="searchResearchers && filteredResearchers.length > 0" 
              class="autocomplete-list"
            >
          <li 
            *ngFor="let researcher of filteredResearchers" 
              (click)="selectResearcher(researcher)" 
                class="autocomplete-item"
            >
            {{ researcher.name }}
          </li>
        </ul>
      </div>

        <div class="field input">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            required
          />
        </div>
  
        <div class="field input">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            required
          />
        </div>
  
        <div class="field input">
          <input
            class="btn submit"
            type="submit"
            value="Login"
            
          />
        </div>
  
        <div class="link">
          Don't have an account?
          <a routerLink="/register">Sign Up Now</a>
        </div>
      </form>
    </div>
  </div>
  